.swiper-slide {
  pointer-events: none;
}

.swiper-slide #image_container {
  height: 500px;
  width: 100%;
  transition: all 200ms linear;
  transform: scale(0.8);
  opacity: 0.25;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .swiper-slide #image_container {
    height: 550px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-slide #image_container {
    height: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-slide #image_container {
    height: 700px;
  }
}

.swiper-slide.swiper-slide-active #image_container {
  transform: scale(1) scaleX(1.2);
  opacity: 1;
  border: 2px solid #3b82f6;
  border-radius: 30px;
  overflow: hidden;
}
