@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,700;1,500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container.cards{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
